* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

html {
	font-size: 12px;
	font-family: Ubuntu, simHei, sans-serif;
	font-weight: 400
}

body {
	font-size: 1.7rem
}


table,
td,
th {
	border-collapse: collapse;
	border-spacing: 0
}

table {
	width: 100%
}

td,
th {
	border: 1px solid #bcbcbc;
	padding: 5px 10px
}

th {
	background: #42b983;
	font-size: 1.2rem;
	font-weight: 400;
	color: #fff;
	cursor: pointer
}

tr:nth-of-type(odd) {
	background: #fff
}

tr:nth-of-type(even) {
	background: #eee
}

fieldset {
	border: 1px solid #BCBCBC;
	padding: 15px;
}

input {
	font-size: large;
	outline: none
}

/*input[type=text] {
	border: 1px solid #ccc;
	padding: .5rem .3rem;
}
*/
/*input[type=text]:focus {
	border-color: #42b983;
}*/

button {
	outline: none;
	padding: 5px 8px;
	color: #fff;
	border: 1px solid #BCBCBC;
	border-radius: 3px;
	background-color: #009A61;
	cursor: pointer;
	font-size: large;
}
button:hover{
	opacity: 0.8;
}

#app {
	margin: 0 auto;
	/*max-width: 640px*/
}

fieldset {
	max-width: 800px;
	margin:0px auto;
}

.hostlist {
	max-width: 600px;
	margin: 0px auto;
}

.form-group {
	margin: 10px;
	/*margin-left: 50px;*/
	text-align: center;
}

.form-group > label {
	display: inline-block;
	width: 10rem;
	text-align: right;
}

.form-group > input,
.form-group > select {
	display: inline-block;
	height: 2.5rem;
	line-height: 2.5rem;
}

.text-center{
	text-align: center;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 21px 0;
	border-radius: 3px;
}

.pagination > li {
	display: inline;
}

.pagination > li > a {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.5;
	text-decoration: none;
	color: #009a61;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: -1px;
	list-style: none;
}

.pagination > li > a:hover {
	background-color: #eee;
}

.pagination .active {
	color: #fff;
	background-color: #009a61;
	border-left: none;
	border-right: none;
}

.pagination .active:hover {
	background: #009a61;
	cursor: default;
}

.pagination > li:first-child > a .p {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.pagination > li:last-child > a {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.ipAddress{
    display: flex;
    align-items: center;
    border: 1px solid #969696;
    width: 148px;
    /*margin-right: 10px;*/
}
.ipAddress li{
    position: relative;
    height: 28px;
    margin: 0;
}
ul[class="ipAddress"]{
	display: inline-flex;
	width: 200px;
	list-style: none;
}

ul[class="ipAddress"] input[type="text"]{
    border: none;
    width: 100%;
    height: 23px;
    text-align: center;
    background: transparent;
    color: black;
}
.ipAddress li div{
    position: absolute;
    bottom: 2px;
    right: 0;
    border-radius: 50%;
    background: #0190FE;
    width: 2px;
    height: 2px;
}
/*只需要3个div*/
.ipAddress li:last-child div{
    display: none;
}
/*取消掉默认的input focus状态*/
.ipAddress input:focus{
    outline: none;
}

.progress{
	display: inline-block;
}

.interface{
	text-align: center;
	margin-top: 40px;
}


#connectionLink{
	font-size: smaller;
}

.testConnectionLink{
	text-align: right;
	margin-right: 120px;
}

/*#viewBtn{*/
	/*border: 0 solid;*/
  	/*box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);*/
  	/*outline: 1px solid;*/
  	/*outline-color: rgba(255, 255, 255, 0.5);*/
  	/*outline-offset: 0px;*/
  	/*text-shadow: none;*/
  	/*transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);*/
/*}*/

/*#viewBtn:hover {*/
  /*border: 1px solid;*/
  /*box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);*/
  /*outline-color: rgba(255, 255, 255, 0);*/
  /*outline-offset: 15px;*/
  /*text-shadow: 1px 1px 2px #427388;*/
/*}*/

.networking{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ring {
    position: relative;
    width: 30em;
    height: 30em;
	background-color: #26b7ff;
    /*border: 2.5em solid #26b7ff;*/
    border-radius: 50%;
	box-shadow: .30em .375em .625em rgba(0,0,0,.25) inset, 0em 0em 1.25em rgba(0,0,0,.2) inset;

	/*background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.2) 100%); !* FF3.6+ *!*/
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(255,255,255,0.2))); !* Chrome,Safari4+ *!*/
	/*background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.2) 100%); !* Chrome10+,Safari5.1+ *!*/
	/*background: -o-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.2) 100%); !* Opera 11.10+ *!*/
	/*background: -ms-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.2) 100%); !* IE10+ *!*/
	/*background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.2) 100%); !* W3C *!*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33ffffff',GradientType=0 ); !* IE6-9 *!*/
}

.ring:after{
	display: block;
	content: "";
	width: 25em;
	height: 25em;
	background-color: #f9f8f4;
	border-radius: 50%;
	position: absolute;
	left: 2.5em;
	top: 2.5em;
	box-shadow: 0 0 2em rgba(0,0,0,.25);
}

.channelText{
	display: none;
	position: relative;
	left: 13em;
	top: 1em;
}

.ring:hover .channelText{
	display: block;
}

.circle {
	display: block;
	background: black;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	margin: 0;
	position: absolute;
	left: 40em;
	top: 55em;
	box-shadow: 0 0 5em rgba(0,0,0,.25);
	background: -webkit-radial-gradient(circle at 100px 100px, #5cabff, #000);
  	background: -moz-radial-gradient(circle at 100px 100px, #5cabff, #000);
  	background: radial-gradient(circle at 100px 100px, #5cabff, #000);
}



.ordererText{
	display: block;
	animation: rotate 7s linear infinite;
	backface-visibility: hidden;
	position: relative;
	font-size: 3em;
	left: 1.5em;
	top: 2.5em;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg) translateZ(10px);
    }
    to {
        transform: rotateY(360deg) translateZ(350px);
    }
}

.circle:hover{
	position: absolute;
	left: 38.5em;
	top: 53.5em;
	height: 350px;
	width: 350px
}

.circle:hover .ordererText{
	display: block;
}

