{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
        <div class="wrap-container welcome-container">
			<div class="row">
				<div class="welcome-left-container col-lg-11">
                    <div class="chart-panel panel panel-default">
                        <div class="panel-body" id="chart" style="height: 300px;">
                            <fieldset>
                                <legend>
                                    查询信息
                                </legend>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>查询区块:</label>
                                    <input type="text" placeholder="  哈希值" style="width: 400px" v-model="blockHash">
                                    <button type="button" @click="queryBlockByHash()" style="width: 100px; height: 30px">查询</button>
                                </div>
                                <div class="form-group">
                                    <label>查询区块:</label>
                                    <input type="text" placeholder="  交易ID" style="width: 400px" v-model="blockTxid">
                                    <button type="button" @click="queryBlockByTxid()" style="width: 100px; height: 30px">查询</button>
                                </div>
                                <div class="form-group">
                                    <label>查询交易:</label>
                                    <input type="text" placeholder="  交易ID" style="width: 400px" v-model="txid">
                                    <button type="button" @click="queryTransactionByTxid()" style="width: 100px; height: 30px">查询</button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="chart-panel panel panel-default">
                        <div class="panel-body" id="chart" style="height: 500px;">
                            <div v-html="queryResult"></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>



    <script src="{% static "js/vue.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                blockHash: '',
                blockTxid: '',
                txid: '',
                queryResult: ''
            },
            methods:{
                queryTransactionByTxid: function () {
                    var  self = this;
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "queryTransactionByTxid/",
                        dataType: "json",
                        data: {
                            "csrfmiddlewaretoken": csrf,
                            "txid": self.txid
                        },
                        success: function (data) {
                            self.queryResult = data.msg
                            if (data.msg === "找不到相关信息" ) {
                                setTimeout(function () {
                                    self.queryResult = ""
                                }, 3000)
                            }

                        },
                        error: function (data) {
                            self.queryResult = data.msg
                        }
                    });
{#                    self.txid = ''#}
                },
                queryBlockByTxid: function () {
                    var  self = this;
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "queryBlockByTxid/",
                        dataType: "json",
                        data: {
                            "csrfmiddlewaretoken": csrf,
                            "txid": self.blockTxid
                        },
                        success: function (data) {
                            self.queryResult = data.msg
                            if (data.msg === "找不到相关信息" ) {
                                setTimeout(function () {
                                    self.queryResult = ""
                                }, 3000)
                            }
                        },
                        error: function (data) {
                            self.queryResult = data.msg
                        }
                    });
{#                    self.blockTxid = ''#}
                },
                queryBlockByHash: function () {
                    var  self = this;
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "queryBlockByHash/",
                        dataType: "json",
                        data: {
                            "csrfmiddlewaretoken": csrf,
                            "hash": self.blockHash
                        },
                        success: function (data) {
                            self.queryResult = data.msg
                            if (data.msg === "找不到相关信息" ) {
                                setTimeout(function () {
                                    self.queryResult = ""
                                }, 3000)
                            }
                        },
                        error: function (data) {
                            self.queryResult = data.msg
                        }
                    });
{#                    self.blockHash = ''#}
                }
            }
        })
    </script>
{% endblock %}