{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <div class="wrap-container welcome-container">
        <div class="loadingView" v-if="loadingVisible">
            <div class="loadingSpinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
        </div>
			<div class="row">
				<div class="welcome-left-container col-lg-11">
                    <div class="chart-panel panel panel-default">
                        <div class="panel-body" id="chart" style="height: 500px;">
                            <fieldset>
                                <legend>
                                    重要操作
                                </legend>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label></label>

                                    <button type="button" @click="stopBlockchain()" style="width: 100px; height: 30px">停止区块链</button>
                                </div>
                                <div class="form-group">
                                    <label></label>

                                    <button type="button" @click="restartBlockchain()" style="display: none; width: 100px; height: 30px">重启区块链</button>
                                </div>
                                <div class="form-group">
                                    <label></label>

                                    <button type="button" @click="clearBlockchain()" style="width: 100px; height: 30px">删除区块链</button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <script src="{% static "js/vue.js" %}"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                loadingVisible: false
            },
            methods:{
                stopBlockchain: function () {
                    var  self = this;
                    setTimeout(function () {
                        self.loadingVisible = true;
                    },1000);
                    var msg = '';
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "/monitor/admin_network_stop/",
                        dataType: "json",
                        data: {
                            "csrfmiddlewaretoken": csrf
                        },
                        success: function (data) {
                            msg = data.msg
                        },
                        error: function (data) {
                            msg = data.msg
                        }
                    });
                    setTimeout(function () {
                        self.loadingVisible = false;
                    },1000);
                    console.log(msg);
                    if (msg !== '') {
                        alert(msg)
                    }
{#                    alert("已停止")#}
                },
                restartBlockchain: function () {

{#                    alert("已重启")#}
                },
                clearBlockchain: function () {
                    var  self = this;
                    setTimeout(function () {
                        self.loadingVisible = true;
                    },1000);
                    var msg = '';
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "/monitor/admin_network_clear/",
                        dataType: "json",
                        data: {
                            "csrfmiddlewaretoken": csrf
                        },
                        success: function (data) {
                            msg = data.msg
                        },
                        error: function (data) {
                            msg = data.msg
                        }
                    });
                    setTimeout(function () {
                        self.loadingVisible = false;
                    },1000);
                    console.log(msg);
                    if (msg !== '') {
                        alert(msg)
                    }

                }
            }
        })
    </script>
{% endblock %}