{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <div class="wrap-container welcome-container">
			<div class="row">
				<div class="welcome-left-container col-lg-11">
                    <div class="chart-panel panel panel-default">
                        <div class="panel-body" id="chart" style="height: 500px;">
                            <fieldset>
                                <legend>
                                    重要操作
                                </legend>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label></label>

                                    <button type="button" @click="stopBlockchain()" style="width: 100px; height: 30px">停止区块链</button>
                                </div>
                                <div class="form-group">
                                    <label></label>

                                    <button type="button" @click="restartBlockchain()" style="width: 100px; height: 30px">重启区块链</button>
                                </div>
                                <div class="form-group">
                                    <label></label>

                                    <button type="button" @click="clearBlockchain()" style="width: 100px; height: 30px">删除区块链</button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <script src="{% static "js/vue.js" %}"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {

            },
            methods:{
                stopBlockchain: function () {
                    alert("已停止")
                },
                restartBlockchain: function () {
                    alert("已重启")
                },
                clearBlockchain: function () {
                    alert("已清除")
                }
            }
        })
    </script>
{% endblock %}