{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/layui/css/layui.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin.css'%}"/>
</head>
<body>
    <div id="app">
        <div class="main-layout" id='main-layout'>
			<!--侧边栏-->
			<div class="main-layout-side">
				<div class="m-logo">
				</div>
				<ul class="layui-nav layui-nav-tree" lay-filter="leftNav">
				  <li class="layui-nav-item">
				    <a href="javascript:;"><i class="iconfont">&#xe608;</i>内容管理</a>
				    <dl class="layui-nav-child">
				      <dd><a href="javascript:;" data-url="article-list.html" data-id='3' data-text="文章管理"><span class="l-line"></span>文章管理</a></dd>
				      <dd><a href="javascript:;" data-url="danye-list.html" data-id='9' data-text="单页管理"><span class="l-line"></span>单页管理</a></dd>
				    </dl>
				  </li>
				  <li class="layui-nav-item">
				    <a href="javascript:;"><i class="iconfont">&#xe604;</i>组织概况</a>
				  </li>
				   <li class="layui-nav-item">
				    <a href="javascript:;"><i class="iconfont">&#xe60c;</i>友情链接</a>
				  </li>
				   <li class="layui-nav-item">
				    <a href="javascript:;"><i class="iconfont">&#xe60a;</i>RBAC</a>
				  </li>
				  <li class="layui-nav-item">
				    <a href="javascript:;" data-url="email.html" data-id='4' data-text="邮件系统"><i class="iconfont">&#xe603;</i>邮件系统</a>
				  </li>
				  <li class="layui-nav-item">
				    <a href="javascript:;"><i class="iconfont">&#xe60d;</i>生成静态</a>
				  </li>
				  <li class="layui-nav-item">
				    <a href="javascript:;"><i class="iconfont">&#xe600;</i>备份管理</a>
				  </li>
				  <li class="layui-nav-item">
				    <a href="javascript:;" data-url="admin-info.html" data-id='5' data-text="个人信息"><i class="iconfont">&#xe606;</i>个人信息</a>
				  </li>
				  <li class="layui-nav-item">
				  	<a href="javascript:;" data-url="system.html" data-id='6' data-text="系统设置"><i class="iconfont">&#xe60b;</i>系统设置</a>
				  </li>
				</ul>
			</div>
            <div class="main-layout-container">
				<!--头部-->
				<div class="main-layout-header">
					<div class="menu-btn" id="hideBtn">
						<a href="javascript:;">
							<span class="iconfont">&#xe60e;</span>
						</a>
					</div>
					<ul class="layui-nav" lay-filter="rightNav">
					  <li class="layui-nav-item"><a href="javascript:;" data-url="email.html" data-id='4' data-text="邮件系统"><i class="iconfont">&#xe603;</i></a></li>
					  <li class="layui-nav-item">
					    <a href="javascript:;" data-url="admin-info.html" data-id='5' data-text="个人信息">超级管理员</a>
					  </li>
					  <li class="layui-nav-item"><a href="javascript:;">退出</a></li>
					</ul>
				</div>
				<!--主体内容-->
				<div class="main-layout-body">
					<!--tab 切换-->
					<div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
					  <div class="layui-tab-content">
                        <fieldset>
                <legend>
                    测试 待删除
                </legend>
                <div class="dataSource">
                    <div class="form-group">
                            <label>Orderer number:</label>
                            <input type="number" min=0 v-model="newBlockchain.ordererNum"/>
                        </div>
                        <div class="form-group">
                            <label>Organization number:</label>
                            <input type="number" min=0 v-model="newBlockchain.organizationNum"/>
                        </div>
                        <div class="form-group">
                            <label>Peer number:</label>
                            <input type="number" min=0 v-model="newBlockchain.peerNum"/>
                        </div>
                        <div class="form-group">
                            <label>CA number:</label>
                            <input type="number" min=0 v-model="newBlockchain.caNum"/>
                        </div>
                        <div class="form-group">
                            <label>Couchdb number:</label>
                            <input type="number" min=0 v-model="newBlockchain.couchdbNum"/>
                        </div>
    {#	                <div class="form-group">#}
    {#	                	<label>Chaincode file:</label>#}
    {#	                	<input type="file" name="chaincode">#}
    {#	                </div>#}
                        <div class="form-group">
                            <label></label>
                            <button @click="view()" id="viewBtn">view</button>
                        </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    测试 待删除
                </legend>
                <div class="interface">
                    <a @click="queryInstalledChaincode()" href="javascript:void(0);">query installed chaincode</a>
                </div>
                <div class="interface">
                    <a @click="queryInstantiatedChaincode()" href="javascript:void(0);">query instantiated chaincode</a>
                </div>
                <div class="interface">
                    <a @click="queryChannel()" href="javascript:void(0);">query channel</a>
                </div>
                <div class="interface">
                    <a @click="getChannelConfig()" href="javascript:void(0);">get channel config</a>
                </div>
                <div class="interface">
                    <a @click="getInfo()" href="javascript:void(0);">query info</a>
                </div>
                {% csrf_token %}
                <div class="interface">
                    <a @click="queryBlockByHash()" href="javascript:void(0);">query block by hash</a><input type="text" name="block_hash" v-model="blockHash">
                </div>
                <div class="interface">
                    <a @click="queryBlockByTxid()" href="javascript:void(0);">query block by txid</a><input name="block_txid" v-model="blockTxid">
                </div>
                <div class="interface">
                    <a @click="queryTransactionByTxid()" href="javascript:void(0);">query transaction by txid</a><input name="txid" v-model="txid">
                </div>
            </fieldset>
            <div class="networking">

                <div class="stage">
                    <div class="ring">
                        <div class="channelText">channel</div>
                    </div>
                    <figure class="circle">
                        <div class="ordererText">orderer</div>
                    </figure>
                </div>
            </div>
            <div class="circlegraph blue"></div>
    </div>
					  </div>
					</div>
				</div>
			</div>

		</div>

</body>

    <script src="{% static "js/vue.js" %}"></script>
    <script type="text/javascript" src="{% static "js/crypto-js-3.1.9-1/core.js" %}"></script>
    <script type="text/javascript" src="{% static "js/crypto-js-3.1.9-1/sha256.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static 'admin/layui/layui.js'%}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'admin/js/common.js'%}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'admin/js/main.js'%}" type="text/javascript" charset="utf-8"></script>
{#    <script type="text/javascript" src="{% static "js/canvas.js" %}"></script>#}
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                hosts: '',
                newBlockchain: {
                	ordererNum: 1,
                	organizationNum: 2,
                	peerNum: 2,
                	caNum: 0,
                	couchdbNum: 0
                },
                blockHash: '',
                blockTxid: '',
                txid: ''
            },
            methods:{
                deleteHost: function (index) {
                    // body...
                },
                monitor: function (index) {

                },
                queryInstalledChaincode: function () {
                    var  self = this;
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "queryInstalledChaincode/",
                        dataType: "json",
                        data: {
                            "csrfmiddlewaretoken": csrf
                        },
                        success: function (data) {
                            alert(data.msg)
                        },
                        error: function (data) {
                            alert("error")
                        }
                    });
                },
                queryInstantiatedChaincode: function () {
                    var  self = this;
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "queryInstantiatedChaincode/",
                        dataType: "json",
                        data: {
                            "csrfmiddlewaretoken": csrf
                        },
                        success: function (data) {
                            alert(data.msg)
                        },
                        error: function (data) {
                            alert("error")
                        }
                    });
                },
                queryChannel: function () {
                    var  self = this;
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "queryChannel/",
                        dataType: "json",
                        data: {
                            "csrfmiddlewaretoken": csrf
                        },
                        success: function (data) {
                            alert(data.msg)
                        },
                        error: function (data) {
                            alert("error")
                        }
                    });
                },
                getChannelConfig: function () {
                    var  self = this;
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "getChannelConfig/",
                        dataType: "json",
                        data: {
                            "csrfmiddlewaretoken": csrf
                        },
                        success: function (data) {
                            alert(data.msg)
                        },
                        error: function (data) {
                            alert("error")
                        }
                    });
                },
                getInfo: function () {
                    var  self = this;
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "getInfo/",
                        dataType: "json",
                        data: {
                            "csrfmiddlewaretoken": csrf
                        },
                        success: function (data) {
                            alert(data.msg)
                        },
                        error: function (data) {
                            alert("error")
                        }
                    });
                },
                queryTransactionByTxid: function () {
                    var  self = this;
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "queryTransactionByTxid/",
                        dataType: "json",
                        data: {
                            "csrfmiddlewaretoken": csrf,
                            "txid": self.txid
                        },
                        success: function (data) {
                            console.log(data.msg)
                            alert('ok')
                        },
                        error: function (data) {
                            alert("error")
                        }
                    });
                    self.txid = ''
                },
                queryBlockByTxid: function () {
                    var  self = this;
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "queryBlockByTxid/",
                        dataType: "json",
                        data: {
                            "csrfmiddlewaretoken": csrf,
                            "txid": self.blockTxid
                        },
                        success: function (data) {
                            console.log(data.msg)
                            alert('ok')
                        },
                        error: function (data) {
                            alert("error")
                        }
                    });
                    self.blockTxid = ''
                },
                queryBlockByHash: function () {
                    var  self = this;
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "queryBlockByHash/",
                        dataType: "json",
                        data: {
                            "csrfmiddlewaretoken": csrf,
                            "hash": self.blockHash
                        },
                        success: function (data) {
                            console.log(data.msg)
                            alert('ok')
                        },
                        error: function (data) {
                            alert("error")
                        }
                    });
                    self.blockHash = ''
                }
            }
        })
    </script>
</html>